<div class="log-in-container">
  <div class="log-in-log-in">
    <div class="log-in-double-square">
      <img
        src="/assets/playground_assets/rectangle31052-plic-400h.png"
        alt="Rectangle31052"
        class="log-in-rectangle3"
      />
      <img
        src="/assets/playground_assets/rectangle41052-4hgt-400h.png"
        alt="Rectangle41052"
        class="log-in-rectangle4"
      />
    </div>
    <div class="log-in-double-square1">
      <img
        src="/assets/playground_assets/rectangle31052-5luh-400h.png"
        alt="Rectangle31052"
        class="log-in-rectangle31"
      />
      <img
        src="/assets/playground_assets/rectangle41052-ccfm-400h.png"
        alt="Rectangle41052"
        class="log-in-rectangle41"
      />
    </div>
    <div class="log-in-trianglewith-circle">
      <img
        src="/assets/playground_assets/polygon11052-3hdp.svg"
        alt="Polygon11052"
        class="log-in-polygon1"
      />
      <img
        src="/assets/playground_assets/ellipse11052-8e9i-200h.png"
        alt="Ellipse11052"
        class="log-in-ellipse1"
      />
    </div>
    <div class="log-in-circlewith-triangle">
      <img
        src="/assets/playground_assets/ellipse21052-j6wi-400w.png"
        alt="Ellipse21052"
        class="log-in-ellipse2"
      />
      <img
        src="/assets/playground_assets/polygon21052-8lnr.svg"
        alt="Polygon21052"
        class="log-in-polygon2"
      />
    </div>
    <div class="log-in-sign-in">
      <span class="log-in-text"><span>Log In</span></span>
      <div class="log-in-email-field">
        <span class="log-in-text02"><span>Email</span></span>
        <div class="log-in-input-field">
          <div class="log-in-email">
            <div class="log-in-layer2">
              <img
                src="/assets/playground_assets/email1052-eiqa.svg"
                alt="email1052"
                class="log-in-email1"
              />
            </div>
          </div>
          <img
            src="/assets/playground_assets/line11052-erf.svg"
            alt="Line11052"
            class="log-in-line1"
          />
          <input style="background-color: black; width: 300px;" class="log-in-text04" type="email" />
        </div>
      </div>
      <div class="log-in-password-field">
        <span class="log-in-text06"><span>Password</span></span>
        <div class="log-in-input-field1">
          <img
            src="/assets/playground_assets/password1052-hy0m.svg"
            alt="Password1052"
            class="log-in-password"
          />  
          <!-- <img
            src="/assets/playground_assets/line21052-iuyc.svg"
            alt="Line21052"
            class="log-in-line2"
          /> -->
          <input style="background-color: black; width: 300px;" class="log-in-text08" type="password" />
          <!-- <span class="log-in-text08"><span>*********</span></span> -->
        </div>
      </div>
      <span class="log-in-text10" style="cursor: pointer;"><span>Forget password?</span></span>
      <button class="log-in-log-in-button">
        <span class="log-in-text12" style="cursor: pointer;"><span>Log In</span></span>
      </button>
      <div class="log-in-or">
        <img
          src="/assets/playground_assets/line11085-pd0d.svg"
          alt="Line11085"
          class="log-in-line11"
        />
        <span class="log-in-text14"><span>Or</span></span>
        <img
          src="/assets/playground_assets/line21085-ch7t.svg"
          alt="Line21085"
          class="log-in-line21"
        />
      </div>
      <div class="log-in-social-icons">
        <div class="log-in-google">
          <div class="log-in-google1">
            <img
              src="/assets/playground_assets/backi105-un7r.svg"
              alt="backI105"
              class="log-in-back"
            />
            <div class="log-in-superg">
              <img
                src="/assets/playground_assets/shapei105-6ds4.svg"
                alt="ShapeI105"
                class="log-in-shape"
              />
              <img
                src="/assets/playground_assets/shapei105-9hfg.svg"
                alt="ShapeI105"
                class="log-in-shape1"
              />
              <img
                src="/assets/playground_assets/shapei105-irgj.svg"
                alt="ShapeI105"
                class="log-in-shape2"
              />
              <img
                src="/assets/playground_assets/shapei105-gfcq.svg"
                alt="ShapeI105"
                class="log-in-shape3"
              />
            </div>
          </div>
        </div>
        <div class="log-in-facebook">
          <div class="log-in-facebook1">
            <img
              src="/assets/playground_assets/pathi105-t5j.svg"
              alt="PathI105"
              class="log-in-path"
            />
            <img
              src="/assets/playground_assets/pathi105-vyote.svg"
              alt="PathI105"
              class="log-in-path1"
            />
          </div>
        </div>
        <div class="log-in-apple">
          <div class="log-in-apple1">
            <img
              src="/assets/playground_assets/backi105-qnvj.svg"
              alt="backI105"
              class="log-in-back1"
            />
            <img
              src="/assets/playground_assets/shapei105-a129.svg"
              alt="ShapeI105"
              class="log-in-shape4"
            />
          </div>
        </div>
      </div>
      <span class="log-in-text16">
        <span class="log-in-text17">
          Don’t have an account?
          <!-- <span [innerHTML]="rawocmx"></span> -->
        </span>
        <span>Sign Up</span>
      </span>
    </div>
  </div>
</div>
